* {
	box-sizing: border-box;
}

:root {
	--cyan: 			hsl(180, 62%, 55%);
	--red: 				hsl(0, 78%, 62%);
	--orange: 		hsl(34, 97%, 64%);
	--blue: 			hsl(212, 86%, 64%);
	--trout:			hsl(234, 12%, 34%);
	--aluminium:	hsl(229, 6%, 66%);
	--alabaster: 	hsl(0, 0%, 98%);
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 400;
	color: var(--aluminium);
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--trout);
	font-weight: 600;
	margin: 0;
	line-height: 1.5;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.3333rem;
}

p {
	font-size: 1rem;
	margin: 0 0 1em;
}

.light {
	font-weight: 200;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
}

.col {
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1.66667rem;
}

.row-centered {
	align-items: center;
	justify-content: center;
}

.site-page {
	width: 100%;
	max-width: 78rem;
	margin: 0 auto;
	padding: 4.2rem 2rem 3.6rem;
	min-height: 100vh;
}

.site-header {
	text-align: center;
	margin-bottom: 4rem;
}

.card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	border-radius: 0.4rem;
	padding: 1.6rem 2rem 2rem;
	box-shadow: 0 1rem 2rem 0.05rem rgba(0,0,0,0.1);
	background-color: var(--alabaster);
}

.card-cyan {
	border-top: 0.26667rem solid var(--cyan);
}

.card-red {
	border-top: 0.26667rem solid var(--red);
}

.card-orange {
	border-top: 0.26667rem solid var(--orange);
}

.card-blue {
	border-top: 0.26667rem solid var(--blue);
}

.card-title {
	margin-bottom: 0.3333333rem;
}

.card-desc {
	font-size: 0.86667rem;
	margin-bottom: 2.13333rem;
	line-height: 1.76923;
}

.card-icon {
	display: block;
	margin-left: auto;
	width: 3.8rem;
}

@media screen and (min-width: 768px) {

	html, body {
		line-height: 1.6;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.38888888;
	}

	h1 {
		font-size: 2.4rem;
	}

	.col {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.site-header {
		max-width: 33.66667rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3.2rem;
	}

	.page-title {
		margin-bottom: 1.333333rem;
	}

	.page-desc {
		margin-bottom: 1.2rem;
	}
}

@media screen and (min-width: 992px) {
	.site-page {
		padding: 5.333333333333333rem 2rem;
	}

	.col {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		margin-bottom: 0;
	}

	.card {
		padding: 1.866667rem 2.1rem 2.2rem;
	}

	.card:first-child:not(:last-child) {
		margin-bottom: 1.66667rem;
	}

	.card-title {
		margin-bottom: 0.6666667rem;
	}

	.card-desc {
		margin-bottom: 2.6666667rem;
	}

	.card-icon {
		width: 4.2666667rem;
	}
}
